@charset "utf-8";

span{
	display:block;
	margin: 20px;
	display: inline;
}
.card-body>div{
	margin-right: 40px;
	color:gray;
	display: in
}
.info span{
	
	display: inline;
	margin-left: 0px;
	font-size: medium;
}
.sequence{
	color: blue;
}