<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Ajout des notes des eleves</title>

<link type="text/css" href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet"
						th:href="@{css/bootstrap/bootstrap.min.css}"
	/>
</head>
<script type="text/javascript" src="../static/js/monjavascript/jquery.js"  th:src="@{js/monjavascript/jquery.js}"></script>
 <script type="text/javascript">
                
 $(function() {

     $('#classe').change(function() {
    	 var classe = $('#classe').val();
       $.get('http://127.0.0.1:8080/matiereclasse?classe='+classe, function(data) {

    	   var $select = $('#matiere');
    	   $select.find('option').remove();
    	   var i=0;
    	   $.each(data,function(){
    	      $('<option>').val(data[i]).text(data[i]).appendTo($select);
    	      i++;
    	   });
           
			
       });    

     });  

   }); 
      
        </script>

<body>
		<div class="col-md-6 col-md-offset-3" >
		<div class="panel panel-primary" >
			<div class="panel-heading ">PROFIL DE ENSEIGNANT</div>
			<div class="panel-body">
				NOM:<span th:text="${enseignant.nom}"></span>
				PRENOM:<span th:text="${enseignant.prenom}"></span>
				FONCTION: <span th:text="${enseignant.fonction}"></span>697451212
				NIVEAU: <span th:text="${enseignant.niveau}"></span>
		
			</div>
		</div>
		</div>
			<br>
		<div class="col-md-8 col-md-offset-3" >
		<div class="panel panel-primary" >
			<div class="panel-heading ">ENREGISTREMENT ET MODICATION DES NOTES DE VOS ELEVES</div>
			<div class="panel-body">
				<form th:action="@{visuel}" method="POST">
			<label for="classe">Selectionner la Sequence</label>
				<select name="sequence" id="sequence">
					<div th:each="c:${listeperiode}">
						<option th:text="${c.libelle}"></option>
					</div>
				</select>
				<label for="classe">Selectionner la Classe</label>
				<select name="classe" id="classe">
					<div th:each="c:${listeclasse}">
						<option th:text="${c.nomClasse}"></option>
					</div>
				</select>
				<label for="matiere">Selectionner la Matiere</label>
				<select name="matiere" id="matiere" >
					<div th:each="c:${listematieredefaud}">
						<option th:text="${c.libelle}"></option>
					</div>
					
				</select>
				
				
				<button type="submit" class="btn btn-success btn-sm" name="aff" value="ajouter">ajouter</button>
				<button type="submit" class="btn btn-info btn-sm" name="aff" value="afficher" >modifier</button>
				
				
			</form>
				
			</div>
		</div>
		</div>
			
		
		
</body>
</html>