<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link type="text/css" href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet"
						th:href="@{css/bootstrap/bootstrap.min.css}"
	/>
</head>
<body>
	<div class="col-md-6 col-md-offset-3" >
		<div class="panel panel-primary" >
			<div class="panel-heading ">ACTION IMPOSSIBLE</div>
			<div class="panel-body">
				AVOUS N'AVEZ PAS LE DROIT D'EFFECTUER CETTE ACTION
		
			</div>
		</div>
		</div>
</body>
</html>