<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Ajout des notes des eleves</title>

<link type="text/css" href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet"
						th:href="@{css/bootstrap/bootstrap.min.css}"
	/>
</head>
<body>
	
<ul>
  <li>  <a th:href="@{classes}">gestion classe</a> </li>
  <li> <a th:href="@{enseignant}">gestion enseignant</a> </li>
   <li> <a th:href="@{pageeleve}">gestion eleve</a> </li>
  <li> <a th:href="@{matiere}">gestion matiere</a> </li>
</ul>


		
		
</body>
</html>