<!DOCTYPE html>
<!-- on insere la librerie pour le moteur de template thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- lorsqu'on utilise le template teamleaf toutes les balises doivent etres fermes -->
<meta charset="utf-8"/>
<title>elevee</title>
<link type="text/css" href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet"
						th:href="@{css/bootstrap/bootstrap.min.css}"
	/>
<link type="text/css" href="../static/css/monproprestyle/style.css" rel="stylesheet"
						th:href="@{css/monproprestyle/style.css}"
	/>
<script type="text/javascript" src="../static/js/monjavascript/script.js"  th:src="@{js/monjavascript/script.js}"></script>


</head>
<body>

	<div class="container card-body"  >
		<form th:action="@{ajout}" method="post" onsubmit="return verification();">
			
			<div class="form-group" ><label for="nom">NOM</label><input type="text" name="nom" id="nom"/></div>
			<div class="form-group" ><label for="prenom">PRENOM</label><input type="text" name="prenom" id="prenom"/></div>
			<div class="form-group" ><label for="nomtuteur">NOM TUTEUR</label><input type="text" class="from-control" name="nomtuteur" id="nomtuteur"/></div>
			<div class="form-group" ><label for="teltuteur">TEL TUTEUR</label><input type="text" class="from-control" name="teltuteur" id="teltuteur"/></div>
			<div class="form-group" ><label for="sexe">SEXE</label><input type="radio" name="sexe" class="from-control" id="sexe" value="M"/>M<input type="radio" name="sexe" id="sexe" value="F"/>F</div>
			<div class="form-group" ><label for="datenais">TEL TUTEUR</label><input type="date" class="from-control" name="datenais" id="datenais"/></div>
			<input type="submit"   value="ajouter"/>
			<div id="message"></div>
		</form>
	
	</div>
	<div class="container">
		<form th:action="@{eleve}" method="get">
			<label for="motcle">mot a chercher</label>
			<input type="text" name="motcle" id="motcle"/>
			<button class="btn btn-danger">Chercher</button>
			
		</form>
	</div>

	<div class="container">
	<p>Listre des eleves</p>
	<table class="table">
	<caption>TABLEAU DES ELEVES</caption>
  <tr>
    <th>ID</th>
    <th>NOM</th>
    <th>PRENOM</th>
    <th>NOM TUTEUR</th>
    <th>TELTUTEUR</th>
    <th>SEXE</th>
    <th>DATE NAISSANCE</th>
    <th>Classe</th>
    <th></th>
    
  </tr>
  <tr th:each="el:${listEleve}">
    <td th:text="${el.matricule}"></td>
    <td th:text="${el.nom}"></td>
    <td th:text="${el.prenom}"></td>
    <td th:text="${el.nom_tuteur}"></td>
    <td th:text="${el.tel_tuteur}"></td>
    <td th:text="${el.sexe}"></td>
    <td th:text="${el.date_naissance}"></td>
    <td th:text="${el.classe.nomClasse}"></td>
    <td><a th:href="@{delete(id=${el.matricule},motcle=${motcle},page=${pageCourante})}">Supprimer</a></td>
    
    
  </tr>
</table>
</div>	
<div>
	<ul class="nav nav-pills">
  <li  th:each="pa,status:${pages}">
		<a th:href="@{eleve(page=${status.index},motcle=${motcle})}" th:text="${status.index}"></a>
 </li>
  
	</ul>

</div>
</body>
</html>